@import 'style/_variables.scss';

.projetosDesenvolvidos{
    display: flex;
    
    &__bge{
        position: absolute;
        width: 7%;
        z-index:0;
        left: 10%;
    }
    &__bgd{
        position: absolute;
        width: 7%;
        z-index:0;
        right: 10%;
        transform: scaleX(-1);
    }
    
    &__superior{
        z-index:10;
        text-align: center;
    }
    &__box{
        justify-content: center;
        padding: $padding-vertical $padding-horizontal;
    }
    &__icons{
        color : $cor-terciaria;
        padding: 20px;
        font-size: 30px;
    }
}