@import 'style/_variables.scss';

.projects{
    justify-content: center;
    align-items: center;
    display:inline-block;    
    
    &__bge{
        position: absolute;
        width: 8%;
        top: 90vh;
        left: 25%;
        transform: rotate(20deg)
    }
    &__bgd{
        position: absolute;
        width: 8%;
        top: 90vh;
        right: 25%;
        transform: rotate(200deg);
    }
    
    &__superior{
        z-index:10;
        text-align: center;
        padding-bottom: $padding-vertical;
    }
    &__box{
        display: flex;
        justify-content:right;
        width: 95%;
        padding: $padding-vertical 0;
    }
    &__imagem{
        height:240px;
        border-radius: 20px;
        margin: 0 $padding-horizontal 0 0;
    }
    &__detalhes{
        width: 60%;
        display: grid;
    }
}