$primary-color: #FF0655; // Cor do Menu e destaques;
$secondary-color: #E2FF00; // Cor do BG e alguns destaques;
$contrast-color: #D9D9D9; // Cor Contraste para BG e escrita no fundo escuro;
$dark-color: #1a1a1a; // Cor escura para escrita e BG;

$padding-horizontal: 40px;
$padding-vertical: 40px;

$narrow-font: 'Comfortaa', cursive; // Destaque nos componentes Positivos e corpo nos Negativos;
$thick-font: 'Bebas Neue', cursive; // Destaque nos componentes Negativos e corpo nos Positivos;

h1{
    font-size: 56px;
    font-weight: 700;
    padding: 8px 0;  
}

h2{
    font-size: 34px;
    font-weight: 600;
    padding: 6px 0;
}

h3{
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;    
}

h4{
    font-size: 18px;
    font-weight: 400;
    padding: 2px 0;
}

p, span{
    font-size:14px;
    font-weight: 300;
}

button {
    
    border-radius: 20px;
    border-width: 0;
    font-family: $narrow-font;
    width: fit-content;
    height: fit-content;
    padding: 8px 24px;
    margin: 10px 0;
    &.active{
        color:$dark-color;
        background-color: $primary-color;
        cursor: pointer;
    }
    &.inactive{
        color: rgb(17, 13, 13);
        background-color:rgb(190, 167, 167);
        cursor:not-allowed;
    }
}