$cor-primaria: #FF0655; // Cor do Menu e destaques;
$cor-secundaria: #E2FF00; // Cor do BG e alguns destaques;
$cor-terciaria: #D9D9D9; // Cor Contraste para BG e escrita no fundo escuro;
$cor-escura: #1a1a1a; // Cor escura para escrita e BG;

$padding-horizontal: 40px;
$padding-vertical: 40px;

$font-simples: 'Comfortaa', cursive; // Destaque nos componentes Positivos e corpo nos Negativos;
$font-grossa: 'Bebas Neue', cursive; // Destaque nos componentes Negativos e corpo nos Positivos;

h1{
    font-size: 46px;
    font-weight: 700;
    padding: 8px 0;  
}

h2{
    font-size: 34px;
    font-weight: 600;
    padding: 6px 0;
}

h3{
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;    
}

h4{
    font-size: 18px;
    font-weight: 400;
    padding: 2px 0;
}

p{
    font-size:14px;
    font-weight: 300;
}

button {
    
    border-radius: 20px;
    border-width: 0;
    font-family: $font-simples;
    width: fit-content;
    height: fit-content;
    padding: 8px 24px;
    margin: 10px 0;
    &.ativo{
        color:$cor-escura;
        background-color: $cor-primaria;
    }
    &.inativo{
        color: rgb(17, 13, 13);
        background-color:rgb(190, 167, 167);
    }
}