@import 'style/_variables.scss';

.barraNavegacao{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: $cor-primaria;
    padding:  calc(0.2*$padding-vertical) $padding-horizontal;
    z-index: 90;
    &__titulo{
        font-family: $font-simples;
        
        & h3{
            font-family: $font-grossa;
        }
    }
    &__hamburguer{
        position: absolute;
        right: 8%;
    }
    
}