@import 'style/_variables.scss';

.componenteCorPositiva{
    background-color: $secondary-color;
    padding: $padding-vertical $padding-horizontal;
    color: $dark-color;
    & h1{
        font-family: $narrow-font;
        color: $primary-color;
    }
    & h2{
        font-family: $narrow-font;        
    }
    & h3, h4, h5, p, span{
        font-family: $thick-font;
    }
}
